<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Qantas - Test">
    <meta name="author" content="Oscar Liang">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,React,jQuery,CSS,HTML,Dashboard">
    <title>Qantas - Test</title>
    <link rel="stylesheet" href="/index.styles.css">
    <link rel="stylesheet" href="/index.vendor.css">
    <script src="/index.bundle.js" defer></script>
    <script>window.__initialData__ = <%- appState %>;</script>
  </head>

  <body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
    <div id="root"></div>
  </body>
</html>